// ---------------layers---------------------------

// ------------------------------------------------
html{
    width: 100%;
}

body{
    margin: 0;
    width: 100%;
}

*{
    box-sizing: border-box;
}
// ---------------abstracs-------------------------
@import '../scss/abstracts/fonts';
@import '../scss/abstracts/variables';
@import '../scss/abstracts/mixins';