// abstracs-------------------------
@import '../abstracts/fonts';
@import '../abstracts/variables';
// --------------------------------------
header{
    width: 100%;
    display: flex;
    flex: {
        direction: row;
        wrap: wrap;
    }
    align-items: flex-start;
    justify-content: space-between;
    height: 10vh;
    padding-top: 1rem;
    background: map-get($colors ,'sky');
    .header-brand{
        padding-left: .5rem;
        
        a{  text-decoration: none;
            color: map-get($colors , "text-grey" );
            font: {
                family: "lexend";
                size: 2rem;}
        }
    }

    .header-navbar__items{
        display: flex;
        list-style: none;
        margin: 0 ;
        padding-top: .5rem;
        padding-left: 0;

        .header-navbar__item{
            padding: 0 0.8rem;

            a{
                text-decoration: none;
                color: map-get($colors , "text-grey" );
                font: {
                    family: "livvic";
                    size: 1.3rem;}
                cursor: pointer;
            }
        }
    }
    
    .search-bar{
        @media (max-width:919px) {
            padding: .5rem 0 0 8rem
        }
        display: flex;
        justify-content: center;

        input{
            background: transparent;
            border: none;
            outline: none;
            border-bottom: .1rem solid map-get($colors, "bg-color" );
            font: {
                size: 1rem;
            }
            width: 60%;
        }
    }
}