@font-face {
  font-family: "abel";
  src: url("../fonts/Abel/Abel-Regular.ttf"); }
@font-face {
  font-family: 'anton';
  src: url("../fonts/Anton/Anton-Regular.ttf"); }
@font-face {
  font-family: "livvic";
  src: url("../fonts/Livvic/Livvic-Regular.ttf"); }
@font-face {
  font-family: "josefin";
  src: url("../fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf"); }
@font-face {
  font-family: "lexend";
  src: url("../fonts/Lexend_Deca/LexendDeca-Regular.ttf"); }
html {
  width: 100%; }

body {
  margin: 0;
  width: 100%; }

* {
  box-sizing: border-box; }

header {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  height: 70px;
  padding: .5rem; }
  header .header-brand {
    padding-left: .5rem; }
    header .header-brand a {
      text-decoration: none;
      color: #3f4954;
      font-family: "lexend";
      font-size: 2rem; }
  header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: .5rem 0 0 0; }
    header ul li {
      padding: .5rem 1rem; }
      header ul li a {
        text-decoration: none;
        color: #3f4954;
        font-family: "livvic";
        font-size: 1.3rem;
        cursor: pointer; }
    header ul li:hover {
      background: #3f4954;
      transition: background .5s;
      border-radius: 1rem; }
      header ul li:hover a {
        color: #ffffff; }
  header .header__search-bar {
    justify-self: center;
    padding-top: .5rem; }
    header .header__search-bar input {
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 0.1rem solid #0f0f0f;
      padding: 0;
      font-size: 1rem;
      width: 60%; }
  header .header__toggle-btn {
    display: none;
    width: 3rem;
    height: 2rem;
    background: #3f4954;
    border-radius: 2rem;
    padding: .22rem;
    margin-right: 1em; }
    header .header__toggle-btn .inner-circle {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 1rem;
      background: #ffffff; }
  header .header__toggle-btn.active {
    background: #4eb2f5; }
    header .header__toggle-btn.active .inner-circle {
      margin-left: 1rem; }

main nav {
  background-image: url("../images/Background-image.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: cover;
  text-align: center;
  width: 100%;
  height: 100vh; }
  main nav h3 {
    padding-top: 4rem;
    font-family: "lexend";
    color: #ffffff;
    margin-top: 0; }
  main nav h1 {
    color: #ffffff;
    padding-bottom: 1rem;
    font-family: "abel";
    font-weight: bold;
    font-size: 3rem; }
  main nav button {
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    width: 8rem; }
    main nav button:hover {
      background: transparent;
      transition: all 1s;
      border: 3px solid linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); }
      main nav button:hover a {
        color: #ffffff; }
    main nav button a {
      color: #3f4954;
      text-decoration: none;
      font-family: "abel";
      font-size: 1rem; }

@media (max-width: 480px) {
  header {
    overflow: hidden;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    justify-items: center;
    height: 60px;
    transition: height 1s; }
    header.header-toggle {
      height: 400px;
      transition: height 1s; }
    header .header-navbar__items {
      flex-direction: column; }
      header .header-navbar__items .header-navbar__item {
        padding-top: .8rem; }
    header .header__search-bar {
      justify-self: end;
      width: 65%; }
    header .header__toggle-btn {
      display: block;
      position: absolute;
      right: 0;
      top: 1rem; }

  main > nav {
    display: none; } }
@media (min-width: 481px) and (max-width: 768px) {
  header {
    overflow: hidden;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    justify-items: center;
    height: 60px;
    transition: height 1s; }
    header.header-toggle {
      height: 400px;
      transition: height 1s; }
    header .header-navbar__items {
      flex-direction: column; }
      header .header-navbar__items .header-navbar__item {
        padding-top: .8rem; }
    header .header__search-bar {
      justify-self: end;
      width: 65%; }
    header .header__toggle-btn {
      display: block;
      position: absolute;
      right: 0;
      top: 1rem; }

  main > nav {
    display: none; } }
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    height: auto;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto auto;
    grid-template-areas: "brand brand" "list search"; }
    header .header-brand {
      grid-area: brand;
      justify-self: center; }
    header ul {
      grid-area: list;
      justify-self: start; }
    header .header__search-bar {
      grid-area: search;
      justify-self: end;
      margin-left: 3rem; } }

/*# sourceMappingURL=main.css.map */
